.contact{
  padding:120px 8%;
  background:#050816;
  display:grid;
  grid-template-columns:1.2fr .8fr;
  gap:60px;
  align-items:start;
}

.contact-left p{
  color:#3B82F6;
  letter-spacing:4px;
  font-size:13px;
  font-weight:700;
}

.contact-left h2{
  color:#fff;
  font-size:52px;
  margin:18px 0 40px;
}

.contact form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.contact input,
.contact textarea{
  background:transparent;
  border:none;
  border-bottom:1px solid rgba(255,255,255,.12);
  padding:18px 0;
  color:white;
  font-size:16px;
}

.contact textarea{
  resize:none;
}

.contact button{
  width:max-content;
  padding:14px 32px;
  margin-top:10px;
  background:#2563EB;
  color:white;
  border:none;
  border-radius:999px;
  font-weight:700;
}

.contact-right{
  padding-left:40px;
  border-left:1px solid rgba(255,255,255,.08);
}

.contact-right h3{
  color:white;
  font-size:30px;
  margin-bottom:40px;
}

.info{
  margin-bottom:30px;
}

.info span{
  color:#64748B;
  text-transform:uppercase;
  font-size:12px;
  letter-spacing:2px;
}

.info p{
  color:white;
  margin-top:8px;
}

@media(max-width:900px){
  .contact{
    grid-template-columns:1fr;
    gap:50px;
  }

  .contact-right{
    border:none;
    padding-left:0;
  }

  .contact-left h2{
    font-size:38px;
  }
}