/* =====================================
   FAQ SECTION
===================================== */

.faq{
  padding:120px 8%;
  background:#040713;
}

.faq-heading{
  text-align:center;
  margin-bottom:60px;
}

.faq-heading p{
  color:#60A5FA;
  letter-spacing:4px;
  font-size:13px;
  font-weight:700;
  margin-bottom:18px;
}

.faq-heading h2{
  color:white;
  font-size:48px;
}

.faq-list{
  max-width:850px;
  margin:auto;
}

.faq-item{
  background:#0B1120;
  border:1px solid rgba(255,255,255,.08);
  border-radius:20px;
  margin-bottom:18px;
  padding:24px;
  cursor:pointer;
  transition:.3s ease;
}

.faq-item:hover{
  border-color:#2563EB;
}

.faq-question{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.faq-question h3{
  color:white;
  font-size:20px;
  font-weight:600;
}

.faq-question span{
  color:#60A5FA;
  font-size:28px;
  font-weight:700;
}

.faq-answer{
  margin-top:18px;
  color:#94A3B8;
  line-height:1.8;
  font-size:16px;
}

.open{
  border-color:#2563EB;
  box-shadow:0 12px 30px rgba(37,99,235,.15);
}

@media(max-width:768px){

  .faq{
    padding:90px 24px;
  }

  .faq-heading h2{
    font-size:34px;
  }

  .faq-question h3{
    font-size:17px;
    width:90%;
  }

}