@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

/* ---------- RESET ---------- */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Manrope",sans-serif;
  background:#050505;
  color:#fff;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  text-rendering:geometricPrecision;
}

#root{
  width:100%;
  min-height:100vh;
}

:root{
  --bg:#050505;
  --surface:#0B0B0F;
  --surface-2:#111218;

  --blue:#2563EB;
  --blue-light:#60A5FA;

  --text:#FFFFFF;
  --muted:#94A3B8;

  --border:rgba(255,255,255,.08);
}

/* Global */

section{
  width:100%;
  padding:120px 8%;
}

.container{
  width:100%;
  max-width:1240px;
  margin:auto;
}

.section-tag{
  color:var(--blue-light);
  font-size:13px;
  font-weight:700;
  letter-spacing:4px;
  margin-bottom:18px;
}

.section-title{
  font-size:54px;
  font-weight:800;
  line-height:1.1;
  margin-bottom:20px;
}

.section-text{
  color:var(--muted);
  line-height:1.8;
  font-size:18px;
}

/* Buttons */

.btn-primary{
  display:inline-flex;
  align-items:center;
  gap:10px;

  background:var(--blue);
  color:white;
  text-decoration:none;

  padding:15px 28px;
  border-radius:999px;
  font-weight:700;

  transition:.3s ease;
}

.btn-primary:hover{
  background:#3B82F6;
  transform:translateY(-2px);
}

.btn-secondary{
  display:inline-flex;
  align-items:center;
  gap:10px;

  color:white;
  text-decoration:none;

  border:1px solid var(--border);
  padding:15px 28px;
  border-radius:999px;

  transition:.3s ease;
}

.btn-secondary:hover{
  border-color:var(--blue);
  background:rgba(37,99,235,.08);
}

/* Scrollbar */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#050505;
}

::-webkit-scrollbar-thumb{
  background:#2563EB;
  border-radius:20px;
}

/* Mobile */

@media(max-width:768px){

  section{
    padding:90px 24px;
  }

  .section-title{
    font-size:36px;
  }

  .section-text{
    font-size:16px;
  }

}